.burger__wrapper {
  display: none;
  position: relative;
}

@media (max-width: $laptop-width) {
  .burger__wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 15;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0;
    min-width: 332px;
    min-height: 570px;
    padding: 15px 15px 73px 18px;
    background: $color-additional;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 15;
    ul.burger-menu__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  .burger-menu._active {
    transform: translateX(0%);
  }

  .burger-menu li {
    list-style-type: none;
  }

  .burger-btn {
    width: 45px;
    height: 32px;
    position: fixed;
    z-index: 20;
    overflow: hidden;
    top: 28px;
    right: 20px;
    cursor: pointer;
    > span {
      width: 45px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-background;
      transition: all 0.5s;
    }
    > span:nth-of-type(2) {
      top: calc(50% - 10px);
    }

    > span:nth-of-type(3) {
      top: calc(50% + 10px);
    }

    
    &._active span:nth-of-type(1) {
      display: none;
    }

    &._active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-55%, 0) rotate(45deg);
    }

    &._active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-60%, 0) rotate(-45deg);
    }
  }
}
