$content-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;

$color-primary: #000000;
$color-additional: #0c0c0e;
$color-link: #FFFFFF;
$color-background: #FFFFFF;
$color-tag: #BB945F;
$color-text: #000000;
$color-gray: #8E8E8E;
$color-interactive: #b6c11abe;